<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        {% endblock %}
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="annonces/">Annonce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vide</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    </header>
    <body>
    <h1>Bienvenue sur mon site d'annonce</h1>
        <p>Elit aute nulla velit ullamco exercitation irure enim velit. Velit incididunt ipsum nisi aliqua ut do dolore sunt cupidatat voluptate sit consequat. Anim dolor consequat eiusmod consequat do officia duis. Voluptate id duis adipisicing occaecat ullamco occaecat elit veniam irure tempor excepteur consequat fugiat. Aliqua anim proident dolor et. Cillum qui est tempor quis qui velit officia.
        </p>
        {% block body %}

        {% endblock %}
</body>
</html>
